@model SmartClinicApp.Domain.Appointment

<h2>حجز موعد جديد</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form asp-action="Create">

    <div class="form-group">
        <label>رقم المريض</label>
        <input asp-for="PatientId" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label>رقم الدكتور</label>
        <input asp-for="DoctorId" type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label>وقت الموعد</label>
        <input asp-for="AppointmentDate" type="datetime-local" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-3">
        حفظ الموعد
    </button>

</form>
